<div class="panel panel-default">
    <div class="panel-heading">
        <span>Hi {{name}}, let's tweet something!</span>
    </div>
    <div class="panel-body row">
        <div class="col-md-2">
            {{input value=name type="text" class="form-control floating-label" placeholder="What's your name?"}}
        </div>
        <div class="col-md-10">
            {{input value=tweetDraft type="text" class="form-control floating-label" placeholder="What's your tweet?"}}
        </div>
        <div class="col-md-2 col-md-offset-10 text-right">
            <button {{action 'tweet'}} {{bind-attr disabled=tweetDisabled}} class="btn btn-primary btn-raised">Tweet</button>
        </div>
    </div>
</div>

<h2>Timeline</h2>
{{#each tweet in arrangedContent itemController="tweet"}}
    <div class="well">
        <p>{{tweet.message}}</p>
        <small>- {{tweet.author}} at {{tweet.created}}</small>
    </div>
{{/each}}
